{% extends "base.html" %} 
{% block body %}
    <a href="{{url_for('authors')}}">Back</a> 

    <div id="author-info"> 
        <h1 class="text-center">{{author}}</h1>
        {% if image_src %}
            <div class="text-center">
                <img src="{{image_src}}">
            </div>
        {% endif %}
    </div>

    <ul class="list-group"> 
        {% for quote in quotes[author] %} 
        <li class="list-group-item"> 
            <p class="text-center">{{quote}}</p>
        </li>
        {% endfor %} 
    </ul>
{% endblock %} 

