{% extends './base.html' %}
{% block body %} 
    <h1 class="text-center text-underline">Authors</h1> 
    <!-- where the user will search for an author -->
    <form action="{{ url_for('authors') }}" method="POST" class="search-form text-center">  
        <div class="form-group">
            <label for="author-search">Search Specific Author</label>
            <input class="form-control" name="author-search">
        </div> 
        <button type="submit" class="btn btn-primary">Search</button> 
    </form>

    <ul class="list-group">
        {% for author in authors %}
        <li class="list-group-item text-center"> 
            <a href="{{url_for('get_author', author=author)}}">{{author}}</a>   
        </li>
        {% endfor %} 
    </ul>
{% endblock %} 